# --- Flask config ---
FLASK_DEBUG=True
FLASK_APP=application.py

# --- Logger config ---
LOGGER_LEVEL=DEBUG
LOGGER_VERBOSE=TRUE

# --- MySQL config ---
# for more details see https://hub.docker.com/_/mysql#environment-variables
# If any configuration is changed make sure to stop and restart the MySQL container
MYSQL_DATABASE=dbname
MYSQL_HOST=localhost
# Optional specification of the container host port (MYSQL_PORT) mapping 
# to the internal MYSQL_TCP_PORT (default 3306):
#  - Update the MYSQL_PORT to make the container listen on a different port on the host machine
#  - Update the MYSQL_TCP_PORT to make the internal MySQL port different than the default 3306
MYSQL_TCP_PORT=3306
MYSQL_PORT=3306
# The password for the `root` MySQL user
MYSQL_ROOT_PASSWORD=example
# Configuration for a non-root MySQL user
MYSQL_USER=admin
MYSQL_PASSWORD=example