container_commands:
  01_activate_venv:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate"
    leader_only: true
  02_install_dep:
    command: "yum install -y pango harfbuzz"
  03_install_fonts:
    command: "yum install -y liberation-sans-fonts dejavu-sans-fonts fontconfig"
  04_reset_font_cache:
    command: "fc-cache -f -v"
  05_migrate:
    command: "flask db upgrade"
    leader_only: true